html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#pik-app {
    margin: 0;
    padding: 10px;
}

.segments {
    background-color: #0E082B;
    color: lightgray;
    padding: 40px;
}

.feed {
    background-color: #2B677E;
    overflow-y: scroll;
}

.pane {
    background-color: #91D2EC;
    overflow-y: scroll;
}

.pane > .box {
    margin: 10px 10px 0 0;
}

.highlight-color {
    color: #0139D3;
}

.contact-preview > form > .panel > .panel-block {
    display: block !important;
}

#add-button {
    bottom: 10px;
    right: 10px;
    position: fixed;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
